<h1>Welcome to express simple form !!!</h1>

<h2>Students List</h2>

<form method="post" action="/form/studentsList">
  <input type="text" name="username" />

  <button type="submit">Send</button>
</form>

<h2>Add new students</h2>